<div layout="row">
  <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left">

      <!-- <img ng-src="assets/logos/veam-logo2_small.png"> -->
    <md-toolbar></md-toolbar>
    <md-button ui-sref="main.createRestaurant">Create restaurant</md-button>
    <md-button ui-sref="main.newFood">Add new foods</md-button>
  </md-sidenav>
  <div layout="column" flex>
    <md-content>
      <md-toolbar flex>
        <div class="md-toolbar-tools">
          <h2>
            <span>Admin Panel</span>
          </h2>
        </div>
      </md-toolbar>
      <div layout-padding ui-view></div>

    </md-content>
  </div>
</div>
