
<div layout="row">
  <div flex="5"></div>
  <div flex>
    <h2 class="md-display-1">Add items</h2>
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Item Name</label>
      <md-icon class="name"></md-icon>
      <input ng-model="item.name" type="text">
    </md-input-container>
  </div>
  <div flex="5"></div>
</div>
