<div layout="row">
  <div flex="5"></div>
  <div flex>
    <h2 class="md-display-1">Create new restaurant</h2>
    <form name="newRestaurantForm" data-ng-submit="vm.createRestaurant()">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Manager's name</label>
          <input ng-model="vm.newResta.contact.name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Manager's Phone</label>
          <input ng-model="vm.newResta.contact.phone">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <!-- Use floating label instead of placeholder -->
          <label>Restaurant Name</label>
          <input ng-model="vm.newResta.name" type="text">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Address</label>
          <input ng-model="vm.newResta.address">
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container lass="md-block" flex-gt-sm>
          <label>2nd Address</label>
          <input ng-model="vm.newResta.address2">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Phone</label>
          <input ng-model="vm.newResta.phone">
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="vm.newResta.city">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>State</label>
          <md-select ng-model="vm.newResta.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Postal Code</label>
          <input name="postalCode" ng-model="vm.newResta.postalCode"
          ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout-gt-sm="row" layout-padding>
        <div flex></div>
        <div flex="10">
          <md-button class="md-raised md-primary" ng-click="vm.createRestaurant()">Create</md-button>
        </div>
      </div>
    </form>
  </div>
  <div flex="5"></div>
</div>
